/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENUE */

#hamburger-nav{
    display:none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor:pointer;
    transition: transform 5s ease-in-out !important;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out; 
}


.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    height: 0;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0,.66,1,.26);
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition:all 0.5 ease-in-out; 
}  

.menu-links li{
    list-style:none;
}

.menu-links.open{
    height: 300px;
    animation: dropandJiggle 0.6s ease;

}

@keyframes dropandJiggle {
    0% {
        transform: translateY(-3px);
    }
    10% {
        transform: translateY(2px);
    }
    20% {
        transform: translateY(-2px);
    }
    30% {
        transform: translateY(1px);
    }
    40% {
        transform: translateY(-1px);
    }
    50% {
        transform: translateY(0.5px);
    }
    60% {
        transform: translateY(-0.5px);
    }
    70% {
        transform: translateY(0.25px);
    }
    80% {
        transform: translateY(-0.25px);
    }
    90% {
        transform: translateY(0.125px);
    }
    100% {
        transform: translateY(0);
    }
}



.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px,5px);
    
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px,-5px);
    
}

.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:first-child{
    opacity: 1;
}
.hamburger-icon span:first-child{
    transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
    position: relative;
  }
  
  .about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .about-details-container {
    justify-content: center;
    flex-direction: column;
  }
  
  .about-containers,
  .about-details-container {
    display: flex;
  }
  
  .about-pic {
    border-radius: 2rem;
  }
  
  .arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
  }
  
  .details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
  
  .section-container {
    gap: 4rem;
    height: 80%;
  }
  
  .section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
  
  /* EXPERIENCE SECTION */
  
  #experience {
    position: relative;
  }
  
  .experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
  
  .experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
  }
  
  article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
  }
  
  article .icon {
    cursor: default;
  }
  
  /* PROJECTS SECTION */

  #projects{
    position: relative;

  }

  .color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
  }

  .project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
  }

  .project-title {
    margin: 1rem;
    color: black;
  }

  .project-btn{
    color: black;
    border-color: rgb(163, 163, 163);
  }

  /* CONTACT SECTION */

  .container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 8%;
  }
  .container .row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
  }
  .row section.col{
    display: flex;
    flex-direction: column;
  }
  .row section.left{
    flex-basis: 35%;
    min-width: 320px;
    margin-right: 60px;
  }
  .row section.right{
    flex-basis: 60%;
  }
  section.left .contactTitle h2{
    position: relative;
    font-size: 28px;
    color: #464646;
    display: inline-block;
    margin-bottom: 25px;
  }
  section.left .contactTitle h2::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: #b9b8b8;
    top: 120%;
    left: 0;
  }
  section.left .contactTitle h2::after{
    content: '';
    position: absolute;
    width: 25%;
    height: 3px;
    background-color: rgb(113, 114, 114);
    top: calc(120% - 1px);
    left: 0;
  }
  section.left .contactTitle p{
    font-size: 17px;
    color: #ccc;
    letter-spacing: 1px;
    line-height: 1.2;
    padding-bottom: 22px;
  }
  section.left .contactInfo{
    margin-bottom: 16px;
  }
  .contactInfo .iconGroup{
    display: flex;
    align-items: center;
    margin: 25px 0px;
  }
  /* Modify the color of Font Awesome icons to black */


  .iconGroup .icon{
    width: 45px;
    height: 45px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
  }
  .iconGroup .icon i{
    font-size: 20px;
    color:black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .iconGroup .details span{
    display: block;
    color: #888;
    font-size: 18px;
  }
  .iconGroup .details span:nth-child(1){
    text-transform: uppercase;
    color: #ccc;
  }
  section.left .socialMedia{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 22px 0px 20px;
  }
  .socialMedia a{
    width: 35px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    transition: 0.4s;
  }
  .socialMedia a i{
    color: #ddd;
    font-size: 18px;
    line-height: 35px;
    border: 1px solid transparent;
    transition-delay: 0.4s;
  }
  .socialMedia a:hover{
    transform: translateY(-5px);
    background-color: #2e2e2e;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
  }
  .socialMedia a:hover i{
    color: rgb(66, 66, 66);
  }
  
  /* RIGHT SECTION COLUMN */
  
  .row section.right .messageForm{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
  }
  .row section.right .inputGroup{
    margin: 18px 0px;
    position: relative;
  }
  .messageForm .halfWidth{
    flex-basis: 48%;
  }
  .messageForm .fullWidth{
    flex-basis: 100%;
  }
  .messageForm input, .messageForm textarea{
    width: 100%;
    font-size: 18px;
    padding: 2px 0px;
    background-color: #ffffff;
    color: #505050;
    border: none;
    border-bottom: 2px solid #666;
    outline: none;
  }
  .messageForm textarea{
    resize: none;
    height: 220px;
    display: block;
  }
  textarea::-webkit-scrollbar{
    width: 5px;
  }
  textarea::-webkit-scrollbar-track{
    background-color: #1e1e1e;
    border-radius: 15px;
  }
  textarea::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
  }
  .inputGroup label{
    position: absolute;
    left: 0;
    bottom: 4px;
    color: #888;
    font-size: 18px;
    transition: 0.4s;
    pointer-events: none;
  }
  .inputGroup:nth-child(4) label{
    top: 2px;
  }
  .inputGroup input:focus ~ label, .inputGroup textarea:focus ~ label,
  .inputGroup input:valid ~ label, .inputGroup textarea:valid ~ label
  {
    transform: translateY(-30px);
    font-size: 16px;
  }
  .inputGroup button{
    padding: 8px 16px;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
  }
  .inputGroup button:hover{
    background-color: #494949;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(95, 95, 95);
  }

 /* FOOTER SECTION */

footer {
  height: .5vh;
  margin: 0 1rem;
  font-size: smaller;
}

footer p {
  text-align: center;
}

/* PAGE FADE TRANSITION */

.transition-fade {
opacity: 1;
transition: 500ms;
transform: translateX(0);
transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition-fade{
  opacity: 1;
  transform: translateY(100%);
}